body {
    background-color: rgb(37,38,40);
}


p span {
    display: block;
}

.dditems:hover {
    text-decoration: none;

}

.dditems:active {
    color: black;
    background-color: white;
    text-decoration: underline;
  }